[Desktop Entry]
Encoding=UTF-8
Name=WiFi Networks Manager
GenericName=Networks Manager
Comment=Connect to WiFi Networks
Exec=wifimgr %u
Icon=network-wireless-symbolic
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;System;
MimeType=
X-XFCE-Source=file:///usr/local/share/applications/wifimgr.desktop
Path=
